{% block content %}
<div class='container' style='padding: 15px'>
    <h2>Fill Purcahse Information</h2>
    <form method="POST" class="advising-form">{% csrf_token %}
        {{ form.as_p }}
        <button class='btn btn-primary save' type="submit button" onclick = "myFunction()">Submit</button>
        <p id="demo"></p>
        <script>
      	function myFunction() {
        	document.getElementById("demo").innerHTML = "Thank you for purchasing the item";
      	}
    	</script>
        <a href="{% url 'home' %}" class='btn btn-primary' type='button'>Cancel</a>
    </form>
</div>
{% endblock %}