{% block content %}

<div class='container'>
	<h1> Guest User {{ username }}'s OU Application Form </h1>
	<ul class='list-group'>
		<li class="list-group-item">Subject: {{ subject }}</li>
		<li class="list-group-item">First Name: {{ f_name }}</li>
		<li class="list-group-item">Last Name: {{ l_name }}</li>
		<li class="list-group-item">Username: {{ username }}</li>
		<li class="list-group-item">Email Address: {{ email }}</li>
		<li class="list-group-item">Home Address: {{ address }}</li>
	</ul>
</div>
<div class='container' style='padding: 15px'>
  <a href={% url 'confirm_form' %} class='btn btn-success'>Approve</a>
  <a href={% url 'confirm_deny' %} class='btn btn-danger'>Deny</a>
  <a href={% url 'select_form' %} class='btn btn-primary'>Back</a>
</div>

{% endblock %}